<!DOCTYPE html>
<html>
  <head>
  	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Birthday DB</title>
    
  </head>
  
  <body>
  	<%- include('../partials/style') -%>
  	<%- include('../partials/_header') -%>
	
	<form action=/db>
		<label>Name</label>
		<input name=name>
		
		<div>
			<label>Birthday</label>
			<input name=birthday>
			<input type=submit>
		</div>

	</form>

  </body>
  
</html>