<!DOCTYPE html>
<html lang="en">
  <head>
  	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>HTML 5 Boilerplate</title>
    
  </head>
  
  <body>
  	<style>
  		*{
  			margin: 0;
  			padding: 0;
  		}
  		
  		header{
  			background: #00C9FF;
  			margin: inline;
  		}
  		
  		h1{
  			margin-left: 0.2em;
  		}
  		
  		#uploadButton{
  			text-decoration: none;
  			text-align: center;
  		}
  			#uploadButton a{
  				padding: 0.3em 0.3em 0em 0.3em;
  				background: #004AFF;
  				text-decoration: none;
  				color: #FF0081;
  			}
  		
  		h4{
  			text-align: center;
  		}
  	</style>
  	<header>
  		  	<h1>VideoDrop</h1>
  		  	<div id=uploadButton>
  		  		<a href=/upload>Upload</a>
  		  	</div>
  	</header>
  	
  	<article>
  		<h4>
  			<br><br><br>[WIP]UPLOAD PAGE
  		</h4>
  	</article>
  
  </body>
  
</html>